body {
    padding: 2em;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
  }

  div {
    margin: 1em;
  }

  input {
    display: block;
    margin-bottom: 10px;
}

textarea {
    display: block;
    size: 350px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.custom-ratio {
    display: flex;
    align-items: bottom;
    margin-bottom: 20px;
  }

.custom-ratio input {
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
  }

/* .switch {
    display: flex;
    align-items: bottom;
    margin-bottom: 10px;
  }

.switch__label {
    margin-left: 5px;
  } */

.button {
    margin-top: 15px;
    height: 40px;
    margin-bottom: 20px;
  }

.generate-button {
  background-color: black; /* Button background */
  color: white; /* Text color */
  padding: 10px 100px; /* Padding around the text */
  font-size: 16px; /* Text size */
  border: none; /* No border */
  cursor: pointer; /* Cursor to pointer to indicate it's clickable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.generate-button:hover {
  background-color: #333; /* Slightly lighter black when hovered */
}

#upload-status {
  background-color: #D3F8D3; /* Light green background */
  color:#333;
  border-radius: 4px; /* Optional: adds rounded corners to the box */
  padding: 20px;
  margin-top: 10px;
  display: none; /* Start with the message hidden */
  /* Other styles for the text and box can be added here */
}

/* Add dropdown-content CSS */

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 9;
}


/* Add .dropdown-content a */

.dropdown-content a {
  display: block;
  background: #f1f1f1;
  text-decoration: none;
  color: black;
}

/* Edit 1: Add .dropdown */
.dropdown {
  display: inline-block; /* Change display from block to inline-block */
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

