body {
    padding: 2em;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f2f2;
    font-size: 16px;
}

div {
  margin: 1em;
}

input {
  display: block;
  margin-bottom: 10px;
  size: 350px;
}

textarea:disabled {
  background-color: #acccac;
  color: #ccc;
  border: 1px solid #888;
}

textarea {
    display: block;
    size: 350px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.custom-ratio {
    display: flex;
    align-items: bottom;
    margin-bottom: 20px;
  }

.custom-ratio input {
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
  }

.button {
    margin-top: 15px;
    height: 40px;
    margin-bottom: 20px;
  }

.generate-button {
  background-color: black;          /* Button background */
  color: white;                     /* Text color */
  padding: 10px 25px;                 /* Padding around the text */
  font-size: 16px;                   
  border: none;                       
  cursor: pointer;                    
  transition: background-color 0.3s;  
  display: inline-block;;
}

.generate-button:hover {
  background-color: #333; /* Slightly lighter black when hovered */
}

.generate-button:inactive {
  background-color: #ccc; /* Grey background */
  color: #666; /* Dark grey text */
  cursor: not-allowed; /* Cursor to indicate the button is not clickable */
}

#upload-status {
  background-color: #D3F8D3; 
  color:#333;
  border-radius: 15px; 
  padding: 20px;
  margin-top: 10px;
  display: none; 

}

#upload-information {
  background-color: #FFC9C9; 
  color:#333;
  border-radius: 15px; 
  padding: 20px;
  margin-top: 10px;
  display: flex; 

}

/* Horizontal line */

hr {
  border: 0;  
  height: 2px;  
  background-color: #333;  
  margin: 20px 0;  
}

/* Info box */

.info-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}
.info-text {
  color: gray;
  font-size: 0.9rem; 
}

/* Add dropdown-content CSS */

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 9;
}


/* Add .dropdown-content a */

.dropdown-content a {
  display: block;
  background: #f1f1f1;
  text-decoration: none;
  color: black;
}

/* Edit 1: Add .dropdown */
.dropdown {
  display: inline-block; /* Change display from block to inline-block */
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.note {
  background-color: #ffff88; /* Light yellow background */
  border-left: 6px solid #ffeb3b; /* Bright yellow left border */
  margin: 20px 0; /* Adds some margin around the note */
  padding: 10px 15px; /* Adds some padding inside the note */
  border-radius: 25;
  border-radius: 5px; /* Slightly rounded corners for a softer look */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adds a subtle shadow to make the note "pop" */
  font-family: Arial, sans-serif; /* Sets the font style */
  line-height: 1.5; /* Improves readability by increasing line spacing */
}

.note p {
  margin: 0; 

